*,
::before,
::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(20, 20, 20);
}

#main-container {
    padding: 10px;
    background: rgb(67, 67, 67);
    border-radius: 6px;
    border: 3px solid rgb(43, 43, 43);
}

#display {
    display: flex;
    justify-content: end;
    background: white;
    padding: 10px;
    font-size: 70px;
    color: black;
    background-color: rgb(185, 185, 185);
    border: 5px solid rgb(43, 43, 43);
}

#buttons-container {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 1px;
    background-color: rgb(43, 43, 43);
    border: 3px solid rgb(43, 43, 43);
}

button {
    font-size: 25px;
    border-color: rgb(67, 67, 67);
    border-radius: 6px;
}

button.clear,
button.sign,
button.percent,
button.decimal[value="."] {
    background-color: rgb(90, 90, 90);
}

button.operator {
    background-color: rgb(231, 154, 12);
    color: white;
}

button.operator[value="="] {
    grid-row: 5;
    grid-column: 4;
    background-color: rgb(72, 186, 72);
}

button.operand {
    background-color: rgb(108, 108, 108);
    color: white;
}
